  /*************************************************
  *
     Basic Scaffholding
  *************************************************/

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

  * {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
  }

  body, html {
    height: 100%;
    font-family: SourceSansPro-Regular, sans-serif;
  }

  li a {
    text-decoration: none;
    /* color: #000000; */
  }

  pre {
    overflow-x: scroll;
    line-height: 18px;
  }

  code {
    white-space: pre-wrap;
    word-break: break-all;
  }

  .hidden {
    display: none;
  }

  .close-icon {
    cursor: pointer;
    float: right;
    width: 20px;
  }
  
  .flex-c {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
}


/*---------------------------------------------*/
a {
	font-family: SourceSansPro-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: SourceSansPro-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #4b2354;}
input:-moz-placeholder { color: #4b2354;}
input::-moz-placeholder { color: #4b2354;}
input:-ms-input-placeholder { color: #4b2354;}

textarea::-webkit-input-placeholder { color: #4b2354;}
textarea:-moz-placeholder { color: #4b2354;}
textarea::-moz-placeholder { color: #4b2354;}
textarea:-ms-input-placeholder { color: #4b2354;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.supporthelp {
  background-color : #000;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #000;
  position: fixed;
  bottom: -2px;
  right: 10px;
  z-index: 9999;
}

.profilehelp {
  background-color : #000;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #000;
  position: fixed;
  top: 2px;
  right: 10px;
  z-index: 9999;
}

.feedback {
  background-color : #000;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #000;
  position: fixed;
  top: 2px;
  right: 110px;
  z-index: 9999;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: SourceSansPro-Regular;
  font-size: 16px;
  line-height: 1.4;
  color: #999999;
}

.txt2 {
  font-family: SourceSansPro-Regular;
  font-size: 16px;
  line-height: 1.4;
  color: #4b2354;
}

.blocktxt {
    max-width: 590px; 
            margin: auto;
            /* border-style: dotted; */
            /* padding: 10px;  */
            /* border-color: #823fb9;  */
            color: black; 
            /* font-weight: 600;  */
            /* font-family:Arial, Helvetica, sans-serif; */
  display:inline-block;
  width:100%;
  vertical-align:top;
  text-align: justify;
}

.hov1:hover {
  color: #4b2354;
  text-decoration: underline;
}


/*//////////////////////////////////////////////////////////////////
[ sweetalert2 customisations ]*/
.swal2-title {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 17px;  
}

.swal2-popup {
  font-size: 0.8rem !important;
}

  /*************************************************
  *
     Chapter 1 - Index Page 
  *************************************************/


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
  }
  
  .container-login100::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
    /* Black to White --> */
    background: rgba(93,84,240,0.5);
    /* Black to White --> 
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.5), rgba(255,255,255,0.5));
    background: -o-linear-gradient(left, rgba(0,0,0,0.5), rgba(255,255,255,0.5));
    background: -moz-linear-gradient(left, rgba(0,0,0,0.5), rgba(255,255,255,0.5));
    background: linear-gradient(left, rgba(0,0,0,0.5), rgba(255,255,255,0.5));
    */
    pointer-events: none;
  }
  
  .login-wrapper {
    margin: 1.5rem;
    width: 360px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  }

  .login100-form {
    width: 100%;
  }

  .logo-image {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px; 
  }
  .logo-image img {
    border-radius: 50%;
  }
  
  .logo-image img:hover {
    color: #ae1c8a;
    text-decoration: none;
    box-shadow: 0 5px 20px 0px rgba(150, 5, 207, 0.212);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
  }
  

.login-bottom-txt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #720fa3;
    border-color: transparent;
    border-radius: 25px 0px;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  }
  
  .login-bottom-txt:hover {
    background-color: #ae0e86;
    box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
    -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
    -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
    -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
    -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  }
  

 /*//////////////////////////////////////////////////////////////////
[ Social item ]*/

.login-social-icon-btn {
    font-size: 25px;
    color: #3b5998;  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin: 5px;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  }
  .login-social-icon-btn:hover {
    color: #ae1c8a;
    text-decoration: none;
    box-shadow: 0 5px 20px 0px rgba(150, 5, 207, 0.212);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
  }

  .login-social-icon-btn img {
    width: 26px;
  }


/*//////////////////////////////////////////////////////////////////
[ CSS Loader ]*/

.loader{
    color:#fff;
    position:fixed;
    box-sizing:border-box;
    left:-9999px;
    top:-9999px;
    width:0;
    height:0;
    overflow:hidden;
    z-index:999999
}
.loader:after,.loader:before{
    box-sizing:border-box;
    display:none
}
.loader.is-active{
    background-color:rgba(0,0,0,0.85);
    width:100%;
    height:100%;
    left:0;
    top:0
}
.loader.is-active:after,.loader.is-active:before{
    display:block
}
.loader-default:after{
    content:"";
    position:fixed;
    width:48px;
    height:48px;
    border:8px solid #fff;
    border-left-color:transparent;
    border-radius:50%;
    top:calc(50% - 24px);
    left:calc(50% - 24px);
    animation:rotation 1s linear infinite
}

@keyframes rotation{
    0%{
        transform:rotate(0)
    }
    to{
        transform:rotate(359deg)
    }
}

/*//////////////////////////////////////////////////////////////////
[ Media queries ]*/


/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .logo-image  img {
        border-radius: 50%;
        width: 180px;
        height: 180px;
      }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .logo-image  img {
        border-radius: 50%;
        width: 160px;
        height: 160px;
      }
  }

  @media (max-width: 480px) {
    .login-wrapper {
      padding-left: 15px;
      padding-right: 15px;
    }
  }











 /*************************************************
  *
     Chapter 2 - Landing Page
  *************************************************/

  .avatar {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    /* background-image: url('../images/icons/avatar.png');     */
    /* make a square container */
    width: 50px;
    height: 50px;
    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;
    /* center the image vertically and horizontally */
    background-position: top center;
    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
    padding: 5px;
}
  
/** Action buttons on landing page
**/

  .landing-action-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-color: transparent;
  }
  


.avatar-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #FFF;
  border-color: transparent;
  border-radius: 25px 0px;

  font-size: 12px;
  color: #7d787891;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

}

.avatar-btn:hover {
  /* background-color: #ae0e86;  */
  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.9);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.9);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.9);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.9);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.9); 
}

/** ------------ Manage Subscription button Landing page *****/
.managesub100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #930d52;
  border-color: transparent;
  border-radius: 25px 0px;
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
}

.managesub100-form-btn:hover {
  background-color: #ae0e86;
  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
}
/*****************/


/** ------------ View Images Button on Landing page *****/
.viewprod100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #0f50a3;
  border-color: transparent;
  border-radius: 25px 0px;

  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
}

.viewprod100-form-btn:hover {
  background-color: #ae0e86;
  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
}
/*****************/

/** ------------ Upload Image button on Landing page *****/
.addprod100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #6110b3;
  border-color: transparent;
  border-radius: 25px 0px;

  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
}

.addprod100-form-btn:hover {
  background-color: #ae0e86;
  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
}
/*****************/




 /*************************************************
  *
     Chapter 3 - Upload Page
  *************************************************/

  

   /*************************************************
  *
     Chapter 3 - View product Page
  *************************************************/
  .product-card {
    width: 100%;
    display: block;
    justify-content: center;
  }

  .view-product-help-banner {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

/* ///////////////////////////////////////
[Scroll to Top floating button] */

.buttonfloat {
  display: inline-block;
  background-color: #000;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 5px;
  right: 40px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.buttonfloat::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 01rem;
  line-height: 30px;
  color: #fff;
}
.buttonfloat:hover {
  cursor: pointer;
  background-color: #720fa3;
}
.buttonfloat:active {
  background-color: #720fa3;
}
.showtotop {
  opacity: 1;
  visibility: visible;
}

  /*//////////////////////////////////////////////////////////////////
[ products ]*/

/*Include "css.lint.unknownAtRules": "ignore" in VSCode .vscode folder > settings.json for the workspace
@include is SCSS feature and not CSS hence VSCode is throwing unknown error */
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.container-product100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.container-product100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(93,84,240,0.5);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.5), rgba(255,255,255,0.5));
  background: -o-linear-gradient(left, rgba(0,0,0,0.5), rgba(255,255,255,0.5));
  background: -moz-linear-gradient(left, rgba(0,0,0,0.5), rgba(255,255,255,0.5));
  background: linear-gradient(left, rgba(0,0,0,0.5), rgba(255,255,255,0.5));
  pointer-events: none;
}

.nextprev-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 80px;
  height: 50px;
  background-color: #FFF;
  border-radius: 25px;

  /* font-family: SourceSansPro-SemiBold; */
  font-size: 12px;
  color: #7d787891;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.nextprev-btn:hover {
  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.9);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.9);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.9);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.9);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.9); 
}

   /*************************************************
  *
     Chapter 4 - Feedback
  *************************************************/

/* ///////////////////////////////////////
[Feedback Top floating button] */

.feedbackfloat {
  display: inline-block;
  background-color: #000;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  top: 25px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  visibility: visible;
  z-index: 1000;
}
.feedbackfloat::after {
  content: "\f086";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 01rem;
  line-height: 30px;
  color: #fff;
}
.feedbackfloat:hover {
  cursor: pointer;
  background-color: #720fa3;
}
.feedbackfloat:active {
  background-color: #720fa3;
}